/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .circle{
      height: 48px;
      width: 65px;
      float: left;
      border-radius: 50%; 
      text-align: center;
      margin:-4px;
      background: transparent url(inactive_flower.png) 50% no-repeat;
      background-size: 63px;
    }
    .nextRow{
      margin-left: 25px;
      clear: both;
    }
    .nextRowleft{
      clear: both;
    }
    .clicked{
       background: transparent url(active_flower.png) 50% no-repeat;
       background-size: 100%;
    }
  .butterfly {
    margin: 0;
    height: 52px;
    width: 69px;
    position: absolute;
    background: transparent url(BF.png) 50% no-repeat;
    background-size: 65px 69px;
    transform: translate(-49%, -4%);
    z-index: 999;
  }
  .newgame{
    clear: both;
    margin-bottom: 10px;
  }
  .main{
    background: transparent url(GAmE_BG.png) no-repeat;
    max-width: 100%;
    height: 439px;
    background-size: 100% 96%;
    margin: 0 auto;
    width: 100%;
  }
  .submain{
    width: 73%;
    height: 100%;
    margin: 0 auto;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .circle{
    height: 42px;
    width: 53px;
    float: left;
    border-radius: 1%;
    text-align: center;
    /* margin: -5px; */
    margin-top: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
    margin-left: -5px;
    background: transparent url(inactive_flower.png) 50% no-repeat;
    background-size: 100%;
    }
    .nextRow{
      margin-left: 8px;
      clear: both;
    }
    .nextRowleft{
      clear: both;
    }
    .clicked{
       background: transparent url(active_flower.png) 50% no-repeat;
       background-size: 100%;
    }
  .butterfly {
    margin: 0;
    height: 44px;
    width: 44px;
    position: absolute;
    background: transparent url(BF.png) 50% no-repeat;
    background-size: 37px 37px;
    transform: translate(-49%, -4%);
    z-index: 999;
  }
  .newgame{
    clear: both;
    margin-bottom: 10px;
  }
  .main{
        background: transparent url(GAmE_BG.png) no-repeat;
    max-width: 100%;
    height: 350px;
    background-size: 100% 100%;
    margin: 0 auto;
    width: 100%;
}
  }
  .submain{
    width: 70%;
    height: 100%;
    margin: 0 auto;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

 .circle{
     height: 34px;
    width: 37px;
    float: left;
    border-radius: 1%;
    text-align: center;
    margin: -5px;
    background: transparent url(inactive_flower.png) 50% no-repeat;
    background-size: 100%;
    }
    .nextRow{
      margin-left: 8px;
      clear: both;
    }
    .nextRowleft{
      clear: both;
    }
    .clicked{
       background: transparent url(active_flower.png) 50% no-repeat;
       background-size: 100%;
    }
  .butterfly {
    margin: 0;
    height: 30px;
    width: 30px;
    position: absolute;
    background: transparent url(BF.png) 50% no-repeat;
    background-size: 30px 30px;
    transform: translate(-49%, -4%);
    z-index: 999;
  }
  .newgame{
    clear: both;
    margin-bottom: 10px;
  }
  .main{
    background: transparent url(GAmE_BG.png) no-repeat;
    max-width: 100%;
    height: 278px;
    background-size: 100% 96%;
    margin: 0 auto;
    width: 100%;
  }
  .submain{
    width: 73%;
    height: 100%;
    margin: 0 auto;
  }
}